/*Nav Bar*/
nav {
  height: 60px;
  background-color: #2f435e;
  color: white;
}
#navlogo {
  float: left;
  display: inline-block;
  padding: 0;
  height: 60px;
  margin:0;
}
nav li{
  display: inline-block;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
} 

#companyName {
  padding-left: 2%;
  font-size: 24pt;
  float: left;
  width: 20%;
  height: 60px;
  border: 0;
  padding: 0;
  margin-left: 20px;
}

nav ul {
float: right;
width: 60%;
margin: 0;
height: 60px;
}
nav li:hover { background: #2f435e; }