body {
  margin: 0;
  padding: 0;
  border: 0;
}
nav{
  height: 60px;
  background-color: #e7e7e7;
}
nav ul{
  float: right;
  width: 60%;
}
a {
    text-decoration: none;
    color: black;
}
nav li{
  display: inline-block;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
#companyName{
  padding-left: 2%;
  font-size: 24pt;
  float: left;
  margin-right: 20px;
  width: 30%;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}
.storeheader {
  background-color: lightgrey;
  width: 100vw;
  height:10vh;
  text-align: center;
}
h1 {
  margin-top: 0;
}
.filter {
  background-color:darkgrey;
  float:left;
  padding-left: 20px;
  width: 200px;
  height:100%;
  color: white;
  font-size: 16pt;
}
.content {
  background-color: white;
  float:right;
  width:calc(100% - 220px);
  height:100%;
}
#pant {
  background-color: black;
  color: white;
  margin: 20px;
  text-align: center;
  font-size: 40pt;
}
.jogger {
  background-color: whitesmoke;
  padding: 10px;
  border: 10px solid darkgrey;
}
#clothes_selection {
  align-content: center;
  margin: 0 auto;
}
#jogger1 {
  width: 250px;
  height: 250px;
}
.button {
  float:right;
  padding-right:40%;
  width: 50px;
  height: 50px;
}
.itemname {
  font-size:16pt;
}
@media screen and (max-width: 400px) {
  .filter {
    width: 100px;
    font-size: 10pt;
  }
  .slider {
    width: 80px;
  }
  .content {
    width: calc(100%-320px);
  }
}