body{
  font-family: 'Noto Sans', sans-serif;
  margin:0;
  padding:0;
}
nav{
  height: 60px;
  background-color: #2f435e;
  color: white;
}
nav ul{
  float: right;
  width: 60%;

  /* padding: 0; */

}

button{
  cursor: pointer;
}

button:hover { background: #2f435e; }
a {
    text-decoration: none;
    color: white;
}
nav li:hover { background: #2f435e; }
nav li{
  display: inline-block;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}

#companyName{
  padding-left: 2%;
  font-size: 24pt;
  float: left;
}

#topDiv{
  width: 100%;
}

.box{
  float: left;
  text-align: center;
  width: 33.33%;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding-top: 25px;
  padding-bottom: 25px;

}

.box1{
  float: left;
  text-align: center;
  width: 50%;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding-top: 25px;
  padding-bottom: 25px;

}


.spacer{
  height: 100px;
}

.boxContainer{
  width: 100%;
  content: "";
  clear: both;
  display: table;
}

#middle{
  width: 282px;
  height: 323px;
}

#left{
  width: 200px;
  height: 323px;
}

#right{
  width: 282px;
  height: 323px;
}
h4{
  font-size: 12pt;
  font-weight: normal;
  margin: 0;
}
h3{
  padding-left: 25pt;
  font-size: 20pt;
  font-weight: 0;
}
.button {
    background-color: #44566c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

#nextButton{
  padding-left: 40px;
  padding-right: 40px;
}

/* arrow buttons */
.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  float: right;
  padding-right: 40%;
  border-left: 30px solid #e7e7e7;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  float: left;
  padding-left: 40%;
  border-right:30px solid #e7e7e7;
}

.outfitdoesfitPics {
  width = 100%;
  height = 110vh;
}
